# Week 4: Data Manipulation with Pandas (Part 2)
## NBA Players Data Analysis with Pandas
Today, we will be working with a **real-world dataset** containing infromation about NBA players, including their height, weight, birthplaces, teams, draft details, and performance states.
<br>

**Dataset Source:** 
[NBA Players Data on Kaggle](https://www.kaggle.com/datasets/justinas/nba-players-data)

## What you'll learn:
- Load data from a **CSV file** into a Pandas DataFrame.
- Explore and clean the dataset.
- Apply **filtering, grouping, and sorting** to analyze player stats.
- Write **functions** to make our analysis more reusable.
- Visualize data.

### Loading a CSV File in Google Colab
---
Since Google Colab runs on a cloud environment, it cannot access files directly from your local machine just by their filename. If you are using Google Colab, follow these steps to load your file:
<br>
1. Download the **'nba_players_info.csv'** file to your local computer.
2. Run the following code:
```python
from google.colab import files
uploaded = files.upload()
```
3. Select the file from your local computer when prompted.

In [ ]:
# run this to load the file to google colab environment
from google.colab import files
uploaded = files.upload()

### Loading CSV files into Pandas DataFrame
---
To load a csv file you can use the funciton `pd.read_csv()`
<br>
[Documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
<br><br>
**Note**: you need to provide the complete path for your file if it is not in the same location as your notebook

In [11]:
# Import the Pandas library 
import pandas as pd

# Load CSV file
file_name = 'nba_players_info.csv'
df_nba = pd.read_csv(file_name)

# display the first 5 rows of the dataframe
df_nba.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,Randy Livingston,HOU,22,193.04,94.800728,Louisiana State,USA,1996,2,42,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,Gaylon Nickerson,WAS,28,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,George Lynch,VAN,26,203.20,103.418976,North Carolina,USA,1993,1,12,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,George McCloud,LAL,30,203.20,102.058200,Florida State,USA,1989,1,7,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,George Zidek,DEN,23,213.36,119.748288,UCLA,USA,1995,1,22,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [12]:
# display the information of the dataframe
df_nba.info()

# check for missing values
df_nba.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12844 entries, 0 to 12843
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_name        12844 non-null  object
 1   team_abbreviation  12844 non-null  object
 2   age                12844 non-null  int64
 3   player_height      12844 non-null  float64
 4   player_weight      12844 non-null  float64
 5   college            10990 non-null  object
 6   country            12844 non-null  object
 7   draft_year         12844 non-null  object
 8   draft_round        12844 non-null  object
 9   draft_number       12844 non-null  object
 10  gp                 12844 non-null  int64
 11  pts                12844 non-null  float64
 12  reb                12844 non-null  float64
 13  ast                12844 non-null  float64
 14  net_rating         12844 non-null  float64
 15  oreb_pct           12844 non-null  float64
 16  dreb_pct           12844 non-null  float64
 17  usg_pct            12844 non-null  float64
 18  ts_pct             12844 non-null  float64
 19  ast_pct            12844 non-null  float64
 20  season             12844 non-null  object
dtypes: float64(11), int64(2), object(8)
memory usage: 2.1+ MB

player_name             0
team_abbreviation       0
age                     0
player_height           0
player_weight           0
college              1854
country                 0
draft_year              0
draft_round             0
draft_number            0
gp                      0
pts                     0
reb                     0
ast                     0
net_rating              0
oreb_pct                0
dreb_pct                0
usg_pct                 0
ts_pct                  0
ast_pct                 0
season                  0
dtype: int64

### Cleaning DataFrame
---
We can remove all the rows for entries that have at least one missing value using the `df.dropna()` function

In [5]:
# Drop missing values from dataframe
# inplace=True will modify the dataframe, if False it will return a new dataframe
df_nba.dropna(inplace=True)
df_nba.isnull().sum()

player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
dtype: int64

In [6]:
# Lets print a Summary statistics using .describe() method
df_nba.describe()

# Create it as a new dataframe
summary_stats = df_nba.describe()

# Get max age
summary_stats['age']['max']

44.0

1. Find the tallest and shortest player
<br><br>
**Hint**: Use `df['column'].idxmax()` to get the row index with the maximum value

In [7]:
# Let's find the index for the row with the maximum and minimum height
index_max_height = df_nba['player_height'].idxmax()
index_min_height = df_nba['player_height'].idxmin()

# Get the player name with the maximum and minimum height
player_max_height = df_nba['player_name'][index_max_height]
player_min_height = df_nba['player_name'][index_min_height]

# Print results
print('The player with the maximum height is:', player_max_height)
print('The player with the minimum height is:', player_min_height)

The player with the maximum height is: Shawn Bradley
The player with the minimum height is: Muggsy Bogues

2. Find all players who are 7 feet or taller
<br><br>
**Hint**: create a subset using a condition `df[condition]`

In [ ]:
# create a variable to store the height in cm for 7 feet
heigh_cm = 7 * 30.48

# create a new dataframe with players taller than 7 feet
df_7ft_players = df_nba[df_nba['player_height'] > heigh_cm]

# get the names of the players
players_7ft = df_7ft_players['player_name']
print(players_7ft)

# How many players are taller than 7 feet?
num_players_7ft = df_7ft_players.shape[0]
print('The number of players taller than 7 feet is:', num_players_7ft)

6          Gheorghe Muresan
13            Greg Dreiling
17            Greg Ostertag
53            Jim McIlvaine
150         Dikembe Mutombo
                ...
12611           Brook Lopez
12677    Kristaps Porzingis
12744           Luke Kornet
12794          Jakob Poeltl
12831              Jay Huff
Name: player_name, Length: 381, dtype: object
The number of players taller than 7 feet is: 381

3. Who had the highest average points in each season?

In [ ]:
# Get the seasons in our Dataframe using the unique() method
df_nba['season'].unique() # get an array with the unique values
list(df_nba['season'].unique()) # convert it to a list 
seasons = list(df_nba['season'].unique()) # create a variable with the list

# Use the values in the list to create a new dataframe for each season
season1 = df_nba[df_nba['season'] == seasons[0]]
# Find the player with the maximum pts in season1
index_max_pts_season1 = season1['pts'].idxmax()
player_max_pts_season1 = season1['player_name'][index_max_pts_season1]
print('The player with the maximum points in', seasons[0], 'is', player_max_pts_season1)

# Do this for all seasons
print('Number of seasons:', len(seasons))

The player with the maximum points in 1996-97 is Michael Jordan
Number of seasons: 27

In [10]:
# Or use a for loop

# A for loop repeats a block of code for each element in a sequence
# Example: Iterating through the items of the "seasons" list & printing each item
for season in seasons:
    # you can use the same code that you already wrote for one season
    # replace every seasons[0] with season
    season1 = df_nba[df_nba['season'] == season] 
    index_max_pts_season1 = season1['pts'].idxmax()
    player_max_pts_season1 = season1['player_name'][index_max_pts_season1]
    print('The player with the maximum points in', season, 'is', player_max_pts_season1)

The player with the maximum points in 1996-97 is Michael Jordan
The player with the maximum points in 1997-98 is Michael Jordan
The player with the maximum points in 1998-99 is Allen Iverson
The player with the maximum points in 1999-00 is Shaquille O'Neal
The player with the maximum points in 2000-01 is Allen Iverson
The player with the maximum points in 2001-02 is Allen Iverson
The player with the maximum points in 2002-03 is Allen Iverson
The player with the maximum points in 2003-04 is Allen Iverson
The player with the maximum points in 2004-05 is Allen Iverson
The player with the maximum points in 2005-06 is Allen Iverson
The player with the maximum points in 2006-07 is Carmelo Anthony
The player with the maximum points in 2007-08 is Allen Iverson
The player with the maximum points in 2008-09 is Dwyane Wade
The player with the maximum points in 2009-10 is Kevin Durant
The player with the maximum points in 2010-11 is Kevin Durant
The player with the maximum points in 2011-12 is Kevin Durant
The player with the maximum points in 2012-13 is Carmelo Anthony
The player with the maximum points in 2013-14 is Kevin Durant
The player with the maximum points in 2014-15 is Russell Westbrook
The player with the maximum points in 2015-16 is Stephen Curry
The player with the maximum points in 2016-17 is Russell Westbrook
The player with the maximum points in 2017-18 is James Harden
The player with the maximum points in 2018-19 is James Harden
The player with the maximum points in 2019-20 is James Harden
The player with the maximum points in 2020-21 is Stephen Curry
The player with the maximum points in 2021-22 is Joel Embiid
The player with the maximum points in 2022-23 is Joel Embiid

4. Who had the highest & lowest rating in each team?

In [21]:
# Get the array for the teams in the dataframe
teams = df_nba['team_abbreviation'].unique()
print('There are', len(teams), 'teams in the dataframe')

# Create a for loop to analyze a dataframe for each team
for team in teams:
    team_df = df_nba[df_nba['team_abbreviation'] == team]
    index_best_rating = team_df['net_rating'].idxmax()
    index_worst_rating = team_df['net_rating'].idxmin()
    player_best_rating = team_df['player_name'][index_best_rating]
    player_worst_rating = team_df['player_name'][index_worst_rating]
    print('The player with the best net rating in', team, 'is', player_best_rating)
    print('The player with the worst net rating in', team, 'is', player_worst_rating)

There are 36 teams in the dataframe
The player with the best net rating in HOU is Mike Harris
The player with the worst net rating in HOU is Terrence Jones
The player with the best net rating in WAS is Hamady Ndiaye
The player with the worst net rating in WAS is Jordan Goodwin
The player with the best net rating in VAN is Joe Stephens
The player with the worst net rating in VAN is Moochie Norris
The player with the best net rating in LAL is Slava Medvedenko
The player with the worst net rating in LAL is Andrew Goudelock
The player with the best net rating in DEN is Jerrelle Benimon
The player with the worst net rating in DEN is Tyler Lydon
The player with the best net rating in ORL is Troy Caupain
The player with the worst net rating in ORL is Dell Demps
The player with the best net rating in CHH is Brad Miller
The player with the worst net rating in CHH is Jason Miskiri
The player with the best net rating in MIL is Javin DeLaurier
The player with the worst net rating in MIL is Brian Skinner
The player with the best net rating in DET is Stanley Umude
The player with the worst net rating in DET is Jaysean Paige
The player with the best net rating in POR is Gary Grant
The player with the worst net rating in POR is Chance Comanche
The player with the best net rating in DAL is Randell Jackson
The player with the worst net rating in DAL is Rodrick Rhodes
The player with the best net rating in UTA is Naz Mitrou-Long
The player with the worst net rating in UTA is Zylan Cheatham
The player with the best net rating in SEA is David Wingate
The player with the worst net rating in SEA is Elmore Spencer
The player with the best net rating in BOS is RJ Hunter
The player with the worst net rating in BOS is CJ Miles
The player with the best net rating in IND is Ahmad Caver
The player with the worst net rating in IND is Edmond Sumner
The player with the best net rating in SAS is Keith Langford
The player with the worst net rating in SAS is Jimmer Fredette
The player with the best net rating in MIA is Bruce Bowen
The player with the worst net rating in MIA is Matt Walsh
The player with the best net rating in ATL is Nicolas Brussino
The player with the worst net rating in ATL is Donald Whiteside
The player with the best net rating in NJN is Orien Greene
The player with the worst net rating in NJN is Gheorghe Muresan
The player with the best net rating in LAC is Brice Johnson
The player with the worst net rating in LAC is Diamond Stone
The player with the best net rating in GSW is Keith Benson
The player with the worst net rating in GSW is Chris Boucher
The player with the best net rating in PHI is Malcolm Lee
The player with the worst net rating in PHI is Michael Foster Jr.
The player with the best net rating in NYK is Jerome James
The player with the worst net rating in NYK is Tyler Hall
The player with the best net rating in TOR is Ron Harper Jr.
The player with the worst net rating in TOR is Sam Dekker
The player with the best net rating in PHX is Chandler Hutchison
The player with the worst net rating in PHX is Gani Lawal
The player with the best net rating in MIN is John Lucas III
The player with the worst net rating in MIN is Will Conroy
The player with the best net rating in CHI is Max Strus
The player with the worst net rating in CHI is RJ Hunter
The player with the best net rating in SAC is Deonte Burton
The player with the worst net rating in SAC is Hassan Whiteside
The player with the best net rating in CLE is J.P. Macura
The player with the worst net rating in CLE is Lance Allred
The player with the best net rating in MEM is Ryan Humphrey
The player with the worst net rating in MEM is Brian Skinner
The player with the best net rating in NOH is Jason Hart
The player with the worst net rating in NOH is Tierre Brown
The player with the best net rating in CHA is Marcus Paige
The player with the worst net rating in CHA is Arnoldas Kulboka
The player with the best net rating in NOK is Jackson Vroman
The player with the worst net rating in NOK is Marcus Vinicius
The player with the best net rating in OKC is Steven Hill
The player with the worst net rating in OKC is Rob Edwards
The player with the best net rating in BKN is Tahjere McCall
The player with the worst net rating in BKN is Noah Vonleh
The player with the best net rating in NOP is Dereon Seabron
The player with the worst net rating in NOP is Will Magnay

5. Find the top players with the highest average points per game
<br><br>

**Hint**: Use `.sort_values(by='column')` to sort values and get first 10 rows

In [ ]:
# Sort your dataframe by a column
df_nba_sorted = df_nba.sort_values(by='pts', ascending=False)
df_nba_sorted.iloc[:10] # get the first 10 rows

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
10227,James Harden,HOU,29,195.58,99.79024,Arizona State,USA,2009,1,3,...,36.1,6.6,7.5,6.3,0.023,0.157,0.396,0.616,0.394,2018-19
4163,Kobe Bryant,LAL,27,198.12,99.79024,NaN,USA,1996,1,13,...,35.4,5.3,4.5,4.7,0.026,0.127,0.384,0.559,0.228,2005-06
10634,James Harden,HOU,30,195.58,99.79024,Arizona State,USA,2009,1,3,...,34.3,6.6,7.5,5.8,0.026,0.139,0.356,0.626,0.366,2019-20
12839,Joel Embiid,PHI,29,213.36,127.00576,Kansas,Cameroon,2014,1,3,...,33.1,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23
4302,Allen Iverson,PHI,31,182.88,74.84268,Georgetown,USA,1996,1,1,...,33.0,3.2,7.4,0.8,0.016,0.071,0.354,0.543,0.331,2005-06
12740,Luka Doncic,DAL,24,200.66,104.32616,NaN,Slovenia,2018,1,3,...,32.4,8.6,8.0,2.1,0.024,0.224,0.368,0.609,0.408,2022-23
12564,Damian Lillard,POR,32,187.96,88.45044,Weber State,USA,2012,1,6,...,32.2,4.8,7.3,2.1,0.022,0.112,0.331,0.645,0.338,2022-23
2847,Tracy McGrady,ORL,24,203.20,95.25432,NaN,USA,1997,1,9,...,32.1,6.5,5.5,3.5,0.046,0.147,0.350,0.564,0.282,2002-03
11537,Stephen Curry,GSW,33,190.50,83.91452,Davidson,USA,2009,1,7,...,32.0,5.5,5.8,4.6,0.013,0.135,0.331,0.655,0.283,2020-21
8013,Kevin Durant,OKC,25,205.74,108.86208,Texas,USA,2007,1,2,...,32.0,7.4,5.5,8.0,0.022,0.184,0.327,0.635,0.259,2013-14

6. Find most common birthplace
<br><br>

**Hint**: Use `.value_counts()`

In [33]:
# Show the number of players from each country
df_nba['country'].value_counts()
type(df_nba['country'].value_counts()) # it is a pandas series

# Get index label of a pandas series
df_nba['country'].value_counts().index[0]

'USA'